.on_off_button {
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center !important;
    height: 1.1em;
    font-weight: 800;
    flex: 50% !important;
}
.main_cont{
    position: sticky;
    top: 50px !important;
    z-index: 2;
    background-color: white;
    width: 100%;
}